a {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  color: #212121;
}
ul {
  list-style: none;
}

.adress-container .adress {
  color: #757575;
}

.adress:hover,
.adress:focus {
  color: #2196f3;
}

.logo-part-one {
  color: #2196f3;
}

.logo-part-two {
  color: #000000;
}

.nav-link {
  color: #212121;
}

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

.hero {
  background: #2f303a;
}

.hero-title {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.advantages-title,
.features-title,
.team-title,
.team-names {
  color: #212121;
}

.advantages-text,
.position {
  color: #757575;
}

.footer {
  background: #2f303a;
}

.adress-footer {
  color: #ffffff;
}
.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
}

.logo-part-one-footer {
  color: #2196f3;
}

.logo-part-two-footer {
  color: #ffffff;
}
